<div class="container">
 <div class="row">
 <div class="col-md-12">
  <h1 class="alert-danger">This is App Component </h1>
  <div style="background-color:orange;color:white;padding:2px;margin3px;">
    <a [routerLink]="['/home/wel']" class="btn btn-info" >Home</a>
    <a [routerLink]="['/customers/getcust']" class="btn btn-info" >Customers</a>
    <a [routerLink]="['/prod']" class="btn btn-success">Products</a>
    <a [routerLink]="['/pipeex']" class="btn btn-danger">Pipes</a>
    <a [routerLink]="['/sampleanim']" class="btn btn-warning">Animations</a>

  </div>
  <div style="background-color:gray;padding:4px;margin:2px;">
    <input type="button" value="click" class="btn btn-danger" (click)="CountNumber()" />
   <router-outlet></router-outlet>
  </div>


 </div>
 </div>
</div>
